{% extends "layout.html" %}
    {% block content %}
        {% for posts in post.items %}           
            <article class="media content-section">
                <!--User Profile-->
                <img class="rounded-circle article-img" src="{{url_for('static', filename='pfp/'+posts.author.profile_img)}}">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{url_for('users.user_posts', username=posts.author.username)}}">{{ posts.author.username }}</a>
                    <!--To display just the YMD-->
                    <small class="text-muted">{{ posts.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{url_for('posts.post', post_id=posts.id)}}">{{ posts.title }}</a></h2>
                <p class="article-content">{{ posts.content }}</p>
                </div>
            </article>
        {% endfor %}
         <!-- paginate.iter_pages  divides the pages intogroups separated by none, e.g. 1 2 none 4 5 6 none 8-->
         <!-- edge parameter - number of pages next to 'none'-->
        {% for page_num in post.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}  
            {% if page_num %}
                <!--If the page number is the same as the current page given by post.page(method of paginate object)-->
                {% if post.page == page_num %}
                    <a class="btn btn-info mb-4"href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4"href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    {% endblock content %}
