{% extends "layout.html" %}
    {% block content %}
    <h1 class="mb-3">Posts by {{ user.username }}  ({{post.total}})</h1>
        {% for posts in post.items %}        
            <div class="card mb-3">
                <div class="row no-gutters">
                <div class="col-md-4 xs-6">
                    <img src="{{image+ posts.post_picture}}" class="card-img full-size" alt="{{posts.post_picture}}">
                </div>
                <div class="col-md-8 xs 6">
                    <div class="card-body">
                        <div>
                            <img class="rounded-circle article-img" src="{{image+posts.author.profile_img}}">
                            <a class="mr-2" href="{{url_for('users.user_posts', username=posts.author.username)}}">{{ posts.author.username }}</a>
                        </div>
                        <hr>
                    <h5 class="card-title pb-2"><a class="article-title" href="{{url_for('posts.post', post_id=posts.id)}}">{{ posts.title }}</a></h5>
                    
                    <p class="card-text" style="max-height: 100px; overflow:hidden;">{{ posts.content }}</p>
                    <p class="card-text article-content"><small class="text-muted">{{ posts.date_posted.strftime('%Y-%m-%d') }}</small></p>
                    </div>
                </div>
                </div>
            </div>           
                
        {% endfor %}
         <!-- paginate.iter_pages  divides the pages intogroups separated by none, e.g. 1 2 none 4 5 6 none 8-->
         <!-- edge parameter - number of pages next to 'none'-->
        {% for page_num in post.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}  
            {% if page_num %}
                <!--If the page number is the same as the current page given by post.page(method of paginate object)-->
                {% if post.page == page_num %}
                    <a class="btn btn-info mb-4"href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4"href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    {% endblock content %}
